.help-us__button{
  min-width: 280px;
  min-height: 50px;
  background: #47474C;
  border-radius: 8px;
  color: #fff;
  border: 0;
  text-align: center;
  letter-spacing: 0.375px;
}

@media screen and(min-width:768px){
  .help-us__button{
    min-width: 306px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.375px;
  }
}
