.gallery{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and(min-width:768px){
  .gallery{
    &_place_up{
      display: grid;
      grid-template-columns: auto, 1fr;
    }
    &_place_down{
      display: grid;
      grid-template-columns: auto, 1fr;
    }
  }
}
