.gallery{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width:768px){
  .gallery{
    &_place_up{
      flex-direction: row;
    }
    &_place_down{
      flex-direction: row;
      max-height: 344px;
        &:last-child{
          max-width: 455px;
        }
    }
  }
}

@media screen and (min-width: 1440px){
  .gallery{
    &_place_up{
      display: flex;
      max-height: 230px;
    }
    &_place_down{
      display: flex;
        &:last-child{
          max-width: 100%;
        }
    }
  }
}
