.footer__copyright{
  @include flex;
  margin: 0;
  align-content: flex-start;
}

@media screen and (min-width:$desktop){
  .footer__copyright{
    justify-content: flex-end;
    align-content: flex-start;
  }
}
