.footer__copyright{
  margin: 0;
  display: flex;
  align-content: flex-start;
}

@media screen and (min-width:1440px){
  .footer__copyright{
    justify-content: flex-end;
    align-content: flex-start;
  }
}
