.page{
  background-color: $backgroundColor;
  color: $white;
  font-family: $fontFamily;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  margin: 0 auto;
  max-width: 280px;
  padding-bottom: 20px;
}

@media screen and (min-width:$tablet){
  .page{
    max-width: 648px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width:$desktop){
  .page{
    max-width: 1380px;
  }
}
