.form_place_header{
  margin: 260px 0 40px 0;
}

@media screen and (min-width:$tablet){
  .form_place_header{
    margin-top: 470px;
    margin-bottom: 52px;
  }
}

@media screen and (min-width:$desktop){
  .form_place_header{
    margin-top: 230px;
    max-width: 569px;
    margin-bottom: 120px;
  }
}
