.header__subtitle{
  margin: 10px 0 0 0;
  font-size: 30px;
  line-height: 38px;
}

@media screen and (min-width:768px){
  .header__subtitle{
    font-size: 50px;
    line-height: 60px;
    margin: 0;
  }
}

@media screen and (min-width:1440px){
  .header__subtitle{
    margin-top: 20px;
    font-size: 80px;
    line-height: 70px;
  }
}
