.firm__status{
  margin-left: 16px;
  background-color: #25E197;
  border-radius: 4px;
  color: #000000;
  line-height: 12px;
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
